{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
<title>
  Dashboard
</title>
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 style=" font-family: cursive;">Earned by now</h5>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h1>${{ total_income }}</h1>
              </div>
              <div class="card-footer">
            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card card-chart" style="height: 88%;">
              <div class="card-header">
              <h1 style="text-align: center; font-family: cursive;">Balance</h1> 
              </div>
              <div class="card-body">
                <h1 style="text-align: center;">${{ balance }}</h1>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 style=" font-family: cursive;">Spent by now</h5>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h1>${{ total_expense }}</h1>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card  card-tasks">
              <div class="card-header ">
                
                <h4 class="card-title" style=" font-family: cursive;">Earning</h4>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">

                  <div class="basic">
                    {% include "homepage/earning.html" %}    
                  </div>
                </div>
              </div>
           </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                
                <h4 class="card-title" style=" font-family: cursive;">Spending</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  
                  <div class="basic">
                    {% include "homepage/expenses.html" %}    
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}